<div class="container">
  <div class="row mt-5">
    <h3>機能一覧</h3>
  </div>
  <div class="row">
    <div class="card mt-4 w-100">
      <div class="card-body">
        <div class="row">
          <h5 class="ml-3">ランキング　→　新規登録</h5>
        </div>

        <div class="card mt-2 w-100">
          <div class="card-body">
            <div class="row bg-info text-light p-2">
              <div class="col-11">
                <i class="fas fa-comment mr-3"></i>ランキングの新規登録が可能です。
              </div>
              <div class="col-1">
                <button type="button" class="text-light bg-info float-right" data-toggle="collapse" data-target="#demo"><i class="fa fa-minus"></i></button>
              </div>
            </div>
            <div id="demo" class="collapse show">
              <p class="mt-2", style="line-height:2rem">
                ランキングは5名まで選択可能です。
            </div>
          </div>
        </div>

        <%= render 'form', ranking: @ranking %>

        <%= link_to 'Back', rankings_path %>
      </div>
    </div>
  </div>
</div>

