<div class="container">
  <div class="row mt-5">
    <h3>初期設定</h3>
  </div>
  <div class="row">
    <div class="card mt-4 w-100">
      <div class="card-body">
        <div class="row">
          <h5 class="ml-3">利用ページ選択</h5>
        </div>

        <div class="card mt-2 w-100">
          <div class="card-body">
            <div class="row bg-info text-light p-2">
              <div class="col-11">
                <i class="fas fa-comment mr-3"></i>利用するページを選択できます。
              </div>
              <div class="col-1">
                <button type="button" class="text-light bg-info float-right" data-toggle="collapse" data-target="#demo"><i class="fa fa-minus"></i></button>
              </div>
            </div>
            <div id="demo" class="collapse show">
              <p class="mt-2", style="line-height:2rem">
                利用するページは「表示する」、利用しないページは「表示しない」を選択し、最下部の［　変更する　］ボタンを押してください。
                「表示しない」を選択した場合はホームページからも管理画面からもそのページ（機能）が表示されなくなります。
                再度「表示する」を選択すれば、そのページ（機能）が表示されます。
            </div>
          </div>
        </div>
        <%= render 'form', page: @page %>
        
        <%= link_to 'Back', pages_path %>
      </div>
    </div>
  </div>
</div>

