<div class="container">
  <div class="row mt-5">
    <h3>管理画面の使い方・Q＆A</h3>
  </div>
  <div class="row">
    <div class="card mt-4 w-100">
      <div class="card-body">
        <div class="row">
          <h5 class="ml-3">エディターの使い方</h5>
        </div>

        <div class="card mt-2 w-100">
          <div class="card-body">
            <div class="row bg-success text-light p-2">
              <div class="col-11">
                <i class="fas fa-comment mr-3"></i>画像を挿入する方法
              </div>
              <div class="col-1">
                <button type="button" class="text-light bg-success float-right" data-toggle="collapse" data-target="#demo"><i class="fa fa-minus"></i></button>
              </div>
            </div>
            <div id="demo" class="collapse show">
              <%= image_tag 'editer01.jpg' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>