<div class="container">
  <div class="row mt-5">
    <h3>管理画面の使い方・Q＆A</h3>
  </div>
  <div class="row">
    <div class="card mt-4 w-100">
      <div class="card-body">
        <div class="row">
          <h5 class="ml-3">よくある質問Q&A</h5>
        </div>

        <div class="card mt-2 w-100">
          <div class="card-body">
            <div class="row bg-info text-light p-2">
              <div class="col-11">
                <i class="fas fa-comment mr-3"></i>管理画面の使い方マニュアルはありますか？
              </div>
              <div class="col-1">
                <button type="button" class="text-light bg-info float-right" data-toggle="collapse" data-target="#demo"><i class="fa fa-minus"></i></button>
              </div>
            </div>
            <div id="demo" class="collapse">
              <p class="mt-2", style="line-height:2rem">
                申し訳ございませんがございません。</br>
                管理画面は直観的にわかるようにお作りしているつもりでございます。</br>
                管理画面から出来ることは管理画面のメニューを全て見て頂いてご判断ください。</br>
                各ページには要所要所に説明文もございますのでそちらでご確認ください。</br>
            </div>
          </div>
        </div>

        <div class="card mt-2 w-100">
          <div class="card-body">
            <div class="row bg-info text-light p-2">
              <div class="col-11">
                <i class="fas fa-comment mr-3"></i>管理画面から更新したのに、ホームページで変更（画像・文章など）の確認ができないのですが？
              </div>
              <div class="col-1">
                <button type="button" class="text-light bg-info float-right" data-toggle="collapse" data-target="#demo2"><i class="fa fa-minus"></i></button>
              </div>
            </div>
            <div id="demo2" class="collapse">
              <p class="mt-2", style="line-height:2rem">
                管理画面の修正が終わって、公式ホームページを確認する際に、「変更がされていない！」ということがございます。</br>
                そのような場合は更新（再読み込み）が必要です。</br>
                通常はブラウザ※の更新ボタンや［F5］ボタンを押して更新すれば変更が確認できますが、画像に関しては変更が確認できない場合がございます。</br>
                これを「キャッシュが残る」と言います。</br>
                そのような時には、［Ctrl］ボタンを押しながら［F5］ボタンを押してください。強い更新がかかります。</br>
                携帯電話（スマホなど）では、このキャッシュが残る現象が強く見られます。</br>
                携帯電話（スマホなど）更新ボタンのみでは画像のキャッシュは消えずらく、数時間（5時間程度）放置してから再読み込みすると確認できます。</br>
                別の確認方法としては、①設定から閲覧履歴を削除する　②別のブラウザ（safari サファリなど）で確認する。　③別の携帯電話で確認する。</br>
                いずれにしましても、管理画面上で変更されていれば変更されていることは間違えございません。</br>
                ※ブラウザとはホームページを閲覧するソフトで、グーグルクロム やインターネットエクスプローラー、ファイヤーフォックス、サファリなどのこと。</br>
              </p>
            </div>
          </div>
        </div>

        <div class="card mt-2 w-100">
          <div class="card-body">
            <div class="row bg-info text-light p-2">
              <div class="col-11">
                <i class="fas fa-comment mr-3"></i>SNS（ツイッター・LINE・外部ブログ）をホームページに表示したいのですが？
              </div>
              <div class="col-1">
                <button type="button" class="text-light bg-info float-right" data-toggle="collapse" data-target="#demo3"><i class="fa fa-minus"></i></button>
              </div>
            </div>
            <div id="demo3" class="collapse">
              <p class="mt-2", style="line-height:2rem">
                SNS（ツイッター・LINE・外部ブログ）は管理画面の初期設定［LINE・Twitter・ブログ］からご登録可能です。</br>
                各表示場所はページ内のご説明をお読みください。
              </p>
            </div>
          </div>
        </div>

        <div class="card mt-2 w-100">
          <div class="card-body">
            <div class="row bg-info text-light p-2">
              <div class="col-11">
                <i class="fas fa-comment mr-3"></i>YouTubeの動画を表示することはできますか？
              </div>
              <div class="col-1">
                <button type="button" class="text-light bg-info float-right" data-toggle="collapse" data-target="#demo4"><i class="fa fa-minus"></i></button>
              </div>
            </div>
            <div id="demo4" class="collapse">
              <p class="mt-2", style="line-height:2rem">
                管理画面の［ウィジェット追加］から可能です。
              </p>
            </div>
          </div>
        </div>

        <div class="card mt-2 w-100">
          <div class="card-body">
            <div class="row bg-info text-light p-2">
              <div class="col-11">
                <i class="fas fa-comment mr-3"></i>ウィジェットって何ですか？
              </div>
              <div class="col-1">
                <button type="button" class="text-light bg-info float-right" data-toggle="collapse" data-target="#demo5"><i class="fa fa-minus"></i></button>
              </div>
            </div>
            <div id="demo5" class="collapse">
              <p class="mt-2", style="line-height:2rem">
                他のサイトの要素を表示できる機能だとお考えください。</br>
                他サイトから発行された「HTMLタグ」を入れることで、他のサイトの様々コンテンツを表示することが可能です。
              </p>
            </div>
          </div>
        </div>

        <div class="card mt-2 w-100">
          <div class="card-body">
            <div class="row bg-info text-light p-2">
              <div class="col-11">
                <i class="fas fa-comment mr-3"></i>イベントやお知らせの画像を作ってもらえますか？
              </div>
              <div class="col-1">
                <button type="button" class="text-light bg-info float-right" data-toggle="collapse" data-target="#demo6"><i class="fa fa-minus"></i></button>
              </div>
            </div>
            <div id="demo6" class="collapse">
              <p class="mt-2", style="line-height:2rem">
                ホームページの「インフォーメーション」と「イベント」で表示する画像の制作が可能です。</br>
                月3枚まで無料でお作りすることが可能です。納期は5営業日（最大約1週間）を頂いております。</br>
                制作できる画像は「インフォーメーション」と「イベント」へ表示する画像で横1200px縦500pxのサイズでお作り致します。</br>
                お作りした画像はメールにて添付してお送り致しますので、「インフォーメーション」や「イベント」の画像としてお使いください。</br>
                それ以外のサイズでお作りすることはできません。他の媒体（広告サイト）などで使う画像は不可となります。</br>
                制作ご依頼方法は担当営業者へお尋ねください。</br>
              </p>
            </div>
          </div>
        </div>

        <div class="card mt-2 w-100">
          <div class="card-body">
            <div class="row bg-info text-light p-2">
              <div class="col-11">
                <i class="fas fa-comment mr-3"></i>新着情報に画像を挿入したいのですが？
              </div>
              <div class="col-1">
                <button type="button" class="text-light bg-info float-right" data-toggle="collapse" data-target="#demo7"><i class="fa fa-minus"></i></button>
              </div>
            </div>
            <div id="demo7" class="collapse">
              <p class="mt-2", style="line-height:2rem">
                内容のテキストエディターメニューに「山と太陽］（イメージ）のマークを押すと画像のプロパティが出現します。</br>
                URLの右にある［サーバブラウザ］ボタンを押すと画像をアップロードする場所が出ますのでそこに画像をアップロード（読み込み または クリック＆ドロップ）してください。</br>
                その読み込んだ画像をダブルクリックすると画像が表示されますので、幅・高さを調整して挿入してください。</br>
                ※幅は100%と入力することも可能です。
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>