<div class="container">
  <div class="row mt-5">
    <h3>管理画面の使い方・Q＆A</h3>
  </div>
  <div class="row">
    <div class="card mt-4 w-100">
      <div class="card-body">
        <div class="row">
          <h5 class="ml-3">はじめてお使いの方へ</h5>
        </div>

        <div class="card mt-2 w-100">
          <div class="card-body">
            <div class="row bg-success text-light p-2">
              <div class="col-11">
                <i class="fas fa-comment mr-3"></i>初期設定の項目をご入力・ご確認ください
              </div>
              <div class="col-1">
                <button type="button" class="text-light bg-success float-right" data-toggle="collapse" data-target="#demo"><i class="fa fa-minus"></i></button>
              </div>
            </div>
            <div id="demo" class="collapse show">
              このページでは、管理画面をはじめてお使いの方の為に、操作方法や各種設定について案内いたします。</br>
              まずはじめにしていただくことは、初期設定の［店舗基本設定］です。</br>
              店舗の基本情報を設定するところですのでお間違いのないようにお願い致します。</br>
              納品の段階で把握していることに関しては入力してございます。</br>
              次に、［利用ページ選択］→［トップページ表示順］→［コンセプト］・・・とお進み頂き、初期設定の項目全てをご入力・ご確認ください。</br>
              現段階でわからないことなどは未入力でも構いません。初期設定の項目はいつでも変更可能です。</br>
            </div>
          </div>
        </div>

        <div class="card mt-2 w-100">
          <div class="card-body">
            <div class="row bg-success text-light p-2">
              <div class="col-11">
                <i class="fas fa-comment mr-3"></i>各項目をご入力ください。
              </div>
              <div class="col-1">
                <button type="button" class="text-light bg-success float-right" data-toggle="collapse" data-target="#demo2"><i class="fa fa-minus"></i></button>
              </div>
            </div>
            <div id="demo2" class="collapse show">
              上記初期設定が終わりましたら、それ以外の各項目メニューのご入力を行ってください。</br>
              新着情報・セラピスト・スケジュールなど、必要に応じてご登録ください。新たに登録するときは［新規登録］、修正したい場合は［一覧・編集］を開きます。</br>
            </div>
          </div>
        </div>

        <div class="card mt-2 w-100">
          <div class="card-body">
            <div class="row bg-danger text-light p-2">
              <div class="col-11">
                <i class="fa fa-exclamation-triangle mr-3"></i>公式サイトで変更の確認できない！
              </div>
              <div class="col-1">
                <button type="button" class="text-light bg-success float-right" data-toggle="collapse" data-target="#demo3"><i class="fa fa-minus"></i></button>
              </div>
            </div>
            <div id="demo3" class="collapse show">
              管理画面の修正が終わって、公式ホームページを確認する際に、「変更がされていない！」ということがございます。</br>
              そのような場合は更新（再読み込み）が必要です。</br>
              通常はブラウザ※の更新ボタンや［F5］ボタンを押して更新すれば変更が確認できますが、画像に関しては変更が確認できない場合がございます。</br>
              これを「キャッシュが残る」と言います。</br>
              そのような時には、［Ctrl］ボタンを押しながら［F5］ボタンを押してください。強い更新がかかります。</br>
              携帯電話（スマホなど）では、このキャッシュが残る現象が強く見られます。</br>
              携帯電話（スマホなど）更新ボタンのみでは画像のキャッシュは消えずらく、数時間（5時間程度）放置してから再読み込みすると確認できます。</br>
              別の確認方法としては、①設定から閲覧履歴を削除する　②別のブラウザ（safari サファリなど）で確認する。　③別の携帯電話で確認する。</br>
              いずれにしましても、管理画面上で変更されていれば変更されていることは間違えございません。</br>
              ※ブラウザとはホームページを閲覧するソフトで、グーグルクロム やインターネットエクスプローラー、ファイヤーフォックス、サファリなどのこと。</br>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>