<div class="container">
  <div class="row mt-5">
    <h3>管理画面の使い方・Q＆A</h3>
  </div>
  <div class="row">
    <div class="card mt-4 w-100">
      <div class="card-body">
        <div class="row">
          <h5 class="ml-3">メール設定について</h5>
        </div>

        <div class="card mt-2 w-100">
          <div class="card-body">
            <div class="row bg-success text-light p-2">
              <div class="col-11">
                <i class="fas fa-comment mr-3"></i>メールアドレスについて
              </div>
              <div class="col-1">
                <button type="button" class="text-light bg-success float-right" data-toggle="collapse" data-target="#demo"><i class="fa fa-minus"></i></button>
              </div>
            </div>
            <div id="demo" class="collapse show">
              <p class="mt-2", style="line-height:2rem">
                管理画面をお渡しした初期状態では、ご依頼頂いた際のメールアドレスが［店舗基本設定］内に登録されています</br>
                「WEB予約」「求人募集」「お問い合わせ」のメールはこちらのメールアドレスに全て来るようになります。</br>
                現在のメールアドレスは、shimokitazawa.lounge@gmail.com に設定されています。</br>
                他のメールアドレスに変更を希望する場合には［店舗基本設定］内メールアドレスを変更してください。</br>
                設定がお済みににりましたら必ず、公式ホームページから「WEB予約」「求人募集」「お問い合わせ」のテスト送信をして、メールが受信できることをお確かめください。</br>
              </p>
            </div>
          </div>
        </div>

        <div class="card mt-2 w-100">
          <div class="card-body">
            <div class="row bg-danger text-light p-2">
              <div class="col-11">
                <i class="fa fa-exclamation-triangle mr-3"></i>メール受信の確認できない！
              </div>
              <div class="col-1">
                <button type="button" class="text-light bg-success float-right" data-toggle="collapse" data-target="#demo2"><i class="fa fa-minus"></i></button>
              </div>
            </div>
            <div id="demo2" class="collapse show">
              <p class="mt-2", style="line-height:2rem">
                まず、メールアドレスが正しく入力されているかご確認ください。前後にスペースが入っていないかなど。</br>
                迷惑メールに入っている場合がございます。迷惑メールのフォルダーをご確認ください。</br>
                gmailやicloudなどのメールアドレスの場合、迷惑メールとされる場合がございます。</br>
                迷惑メール設定の解除や、迷惑メールのセキュリティーを弱めるなどの措置をしてください。</br>
                【こんなに簡単！Gmailの迷惑メール設定を解除する方法 】
              </p>
            </div>
          </div>
        </div>

        <div class="card mt-2 w-100">
          <div class="card-body">
            <div class="row bg-success text-light p-2">
              <div class="col-11">
                <i class="fas fa-comment mr-3"></i>info@shimokitazawa-lounge.com のご利用が可能です。
              </div>
              <div class="col-1">
                <button type="button" class="text-light bg-success float-right" data-toggle="collapse" data-target="#demo"><i class="fa fa-minus"></i></button>
              </div>
            </div>
            <div id="demo" class="collapse show">
              <p class="mt-2", style="line-height:2rem">
                ホームページドメインのメールアドレス info@shimokitazawa-lounge.com のご利用が可能となっております。</br>
                こちらのメールアドレスをお使いになる場合には、このメールアドレスでの送受信を可能にする為にメールソフト（アプリ）の設定を行う必要がございます。</br>
                御社メールアドレスの設定情報は以下の通りです。</br>
              </p>
              <table class="table table-bordered w-100">
                <tr>
                  <td class="w-25"><b>表示名(店舗名)</b></td>
                  <td class="w-75">下北沢ラウンジ</td>
                </tr>
                <tr>
                  <td><b>メールアドレス</b></td>
                  <td>info@shimokitazawa-lounge.com</td>
                </tr>
                <tr>
                  <td><b>メールパスワード</b></td>
                  <td>shimokitazawa-lounge-77</td>
                </tr>
                <tr>
                  <td><b>受信サーバーの種類</b></td>
                  <td>iPOP3またはIMAP4</td>
                </tr>
                <tr>
                  <td><b>受信サーバー</b></td>
                  <td>shimokitazawa-lounge.com</td>
                </tr>
                <tr>
                  <td><b>送信サーバー</b></td>
                  <td>shimokitazawa-lounge.com</td>
                </tr>
                <tr>
                  <td><b>受信ポート</b></td>
                  <td>POP3の場合110　IMAP4の場合143</td>
                </tr>
                <tr>
                  <td><b>送信ポート</b></td>
                  <td>587</td>
                </tr>
                <tr>
                  <td><b>アカウント名 (ユーザーID)</b></td>
                  <td>info@shimokitazawa-lounge.com</td>
                </tr>
              </table>
              <p class="mt-2", style="line-height:2rem">
                上記の設定情報を基に、下記各種メールソフトの設定方法を参照の上、設定を行ってください。</br>
                【各種メールソフトの設定方法 】</br>
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>