<footer class="bg-white text-black pt-5 pb-4">
      <div class="container">
        <div class="row">
          <h5>
            Copyright © -2022 下北沢ラウンジ. All rights reserved.
          </h5>
        </div>
      </div>
    </footer>