<div class="wrapper">
  <div class="hamburger">
  <span></span>
  <span></span>
  <span></span>
  </div>
  <nav class="menu">
  <ul id="accordion_menu">
    <li>機能一覧</li>
    <li>
      <a data-toggle="collapse" href="/" aria-controls="#menu01" aria-expanded="false">トップページ（メニュー）</a>
    </li>
    <li>
      <a data-toggle="collapse" href="#menu02" aria-controls="#menu02" aria-expanded="false">新着情報</a>
    </li>
    <ul id="menu02" class="collapse" data-parent="#accordion_menu">
      <li><a href="#">・新規登録</a></li>
      <li><a href="#">・一覧・修正</a></li>
    </ul>
    <li>
      <a data-toggle="collapse" href="#menu03" aria-controls="#menu03" aria-expanded="false">セラピスト</a>
    </li>
    <ul id="menu03" class="collapse" data-parent="#accordion_menu">
      <li><a href="#">・新規登録</a></li>
      <li><a href="#">・一覧・修正</a></li>
      <li><a href="#">・非転載中</a></li>
    </ul>
    <li>
      <a data-toggle="collapse" href="#menu04" aria-controls="#menu04" aria-expanded="false">写メ日記</a>
    </li>
    <ul id="menu04" class="collapse" data-parent="#accordion_menu">
      <li><a href="#">・新規登録</a></li>
      <li><a href="#">・一覧・修正</a></li>
      <li><a href="#">・セラピストスマホ投稿</a></li>
    </ul>
    <li>
      <a data-toggle="collapse" href="#menu05" aria-controls="#menu05" aria-expanded="false">スケジュール</a>
    </li>
    <li>
      <a data-toggle="collapse" href="#menu06" aria-controls="#menu06" aria-expanded="false">イベント</a>
    </li>
    <ul id="menu06" class="collapse" data-parent="#accordion_menu">
      <li><a href="#">・新規登録</a></li>
      <li><a href="#">・一覧・修正</a></li>
      <li><a href="#">・非転載中</a></li>
    </ul>
    <li>
      <a data-toggle="collapse" href="#menu07" aria-controls="#menu07" aria-expanded="false">インフォメーション</a>
    </li>
    <ul id="menu07" class="collapse" data-parent="#accordion_menu">
      <li><a href="#">・新規登録</a></li>
      <li><a href="#">・一覧・修正</a></li>
      <li><a href="#">・非転載中</a></li>
    </ul>
    <li>
      <a data-toggle="collapse" href="#menu08" aria-controls="#menu08" aria-expanded="false">ランキング</a>
    </li>
    <ul id="menu08" class="collapse" data-parent="#accordion_menu">
      <li><a href="#">・新規登録</a></li>
      <li><a href="#">・一覧・修正</a></li>
    </ul>
    <li>
      <a data-toggle="collapse" href="#menu09" aria-controls="#menu09" aria-expanded="false">リンク</a>
    </li>
    <ul id="menu09" class="collapse" data-parent="#accordion_menu">
      <li><a href="#">・新規登録</a></li>
      <li><a href="#">・一覧・修正</a></li>
    </ul>
    <li>
      <a data-toggle="collapse" href="#menu10" aria-controls="#menu10" aria-expanded="false">動画</a>
    </li>
    <ul id="menu10" class="collapse" data-parent="#accordion_menu">
      <li><a href="#">・新規登録</a></li>
      <li><a href="#">・一覧・修正</a></li>
    </ul>
    <li>
      <a data-toggle="collapse" href="#menu11" aria-controls="#menu11" aria-expanded="false">ウィジェット</a>
    </li>
    <ul id="menu11" class="collapse" data-parent="#accordion_menu">
      <li><a href="#">・新規登録</a></li>
      <li><a href="#">・一覧・修正</a></li>
    </ul>
    <li>初期設定</li>
    <li>
      <a data-toggle="collapse" href="#menu12" aria-controls="#menu12" aria-expanded="false">店舗の基本設計</a>
    </li>
    <ul id="menu12" class="collapse" data-parent="#accordion_menu">
      <li><a href="#">・店舗基本情報</a></li>
      <li><a href="#">・LINE・Twitter・ブログ</a></li>
      <li><a href="#">・利用ページ選択</a></li>
      <li><a href="#">・トップページ表示順</a></li>
      <li><a href="#">・コンセプト</a></li>
      <li><a href="#">・料金システム</a></li>
      <li><a href="#">・クレジット決済</a></li>
      <li><a href="#">・セラピスト質問</a></li>
      <li><a href="#">・アクセス（地図）</a></li>
      <li><a href="#">・求人（募集要項）</a></li>
      <li><a href="#">・フリーページ編集</a></li>
    </ul>
    <li>その他</li>
    <li>
      <a data-toggle="collapse" href="#menu13" aria-controls="#menu13" aria-expanded="false">アクセス解析</a>
    </li>

    <li>
      <a data-toggle="collapse" href="#menu14" aria-controls="#menu14" aria-expanded="false">メールマガジン</a>
    </li>
  </ul>
  </nav>
</div>
<div class="row">
  <div class="col-12 col-md-4"></div>
  <div class="col-12 col-md-4">
<h2 class="d-flex justify-content-center">
  下北沢ラウンジ
</h2>
</div>
<div class="col-12 col-md-4 d-flex justify-content-end">
  <div class="m-3">
    広告
  </div>
  <div class="m-3">
    店舗ページ確認
  </div>
  <div class="m-3">
    ログアウト
  </div>
  </div>
</div>